<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.bizdao.CareMapper">
  <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.bizdao.model.Care">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="MAJOR_ID" jdbcType="DECIMAL" property="majorId" />
    <result column="INSTRUCTOR_ID" jdbcType="DECIMAL" property="instructorId" />
    <result column="ORIGINATOR_ID" jdbcType="DECIMAL" property="originatorId" />
    <result column="STUDENT_ID" jdbcType="DECIMAL" property="studentId" />
    <result column="ORIGINATE_TIME" jdbcType="TIMESTAMP" property="originateTime" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into CARE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].orgId!=null">
        ORG_ID,
      </if>
      <if test="list[0].majorId!=null">
        MAJOR_ID,
      </if>
      <if test="list[0].instructorId!=null">
        INSTRUCTOR_ID,
      </if>
      <if test="list[0].originatorId!=null">
        ORIGINATOR_ID,
      </if>
      <if test="list[0].studentId!=null">
        STUDENT_ID,
      </if>
      <if test="list[0].originateTime!=null">
        ORIGINATE_TIME,
      </if>
      <if test="list[0].dealTime!=null">
        DEAL_TIME,
      </if>
      <if test="list[0].remark!=null">
        REMARK,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=DECIMAL},
        </if>
        <if test="item.orgId!=null">
          #{item.orgId,jdbcType=DECIMAL},
        </if>
        <if test="item.majorId!=null">
          #{item.majorId,jdbcType=DECIMAL},
        </if>
        <if test="item.instructorId!=null">
          #{item.instructorId,jdbcType=DECIMAL},
        </if>
        <if test="item.originatorId!=null">
          #{item.originatorId,jdbcType=DECIMAL},
        </if>
        <if test="item.studentId!=null">
          #{item.studentId,jdbcType=DECIMAL},
        </if>
        <if test="item.originateTime!=null">
          #{item.originateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.dealTime!=null">
          #{item.dealTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.remark!=null">
          #{item.remark,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>