<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.bizdao.CareMapper">
  <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.bizdao.model.Care">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="MAJOR_ID" jdbcType="DECIMAL" property="majorId" />
    <result column="INSTRUCTOR_ID" jdbcType="DECIMAL" property="instructorId" />
    <result column="ORIGINATOR_ID" jdbcType="DECIMAL" property="originatorId" />
    <result column="STUDENT_ID" jdbcType="DECIMAL" property="studentId" />
    <result column="CARE_STATUS" jdbcType="DECIMAL" property="careStatus" />
    <result column="ORIGINATE_TIME" jdbcType="TIMESTAMP" property="originateTime" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="InstructorCareCountStatResultMap" type="com.yunhuakeji.attendance.dao.bizdao.model.InstructorCareCountStat">
    <result column="INSTRUCTOR_ID" jdbcType="DECIMAL" property="instructorId" />
    <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount" />
  </resultMap>

  <resultMap id="StudentCareCountStatResultMap" type="com.yunhuakeji.attendance.dao.bizdao.model.StudentCareCountStatDO">
    <result column="STUDENT_ID" jdbcType="DECIMAL" property="studentIds" />
    <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount" />
  </resultMap>

  <select id="studentCareCountStat" resultMap="StudentCareCountStatResultMap" parameterType="java.util.HashMap">
    SELECT STUDENT_ID,count(1) STAT_COUNT from CARE
    WHERE 1=1
    <if test="studentIds!=null">
      and STUDENT_ID in
      <foreach collection="studentIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    GROUP by STUDENT_ID
  </select>

  <select id="listByClassIdsAndStatus" resultMap="BaseResultMap" parameterType="java.util.HashMap">
   select C.* from CARE C ,B_USER BU where C.CARE_STATUS=#{careStatus}
    and C.STUDENT_ID = BU.USER_ID
    <if test="nameOrCode!=null">
      and (BU.USER_NAME like #{nameOrCode} or BU.CODE like #{nameOrCode})
    </if>
    <if test="classIds!=null">
      and C.CLASS_ID in
      <foreach collection="classIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>

 <select id="instructorCareCountStat" resultMap="InstructorCareCountStatResultMap">
   select INSTRUCTOR_ID,count(1) STAT_COUNT from CARE
   where INSTRUCTOR_ID in
   <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
     #{item}
   </foreach>
   group by INSTRUCTOR_ID
 </select>


  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into CARE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].orgId!=null">
        ORG_ID,
      </if>
      <if test="list[0].majorId!=null">
        MAJOR_ID,
      </if>
      <if test="list[0].instructorId!=null">
        INSTRUCTOR_ID,
      </if>
      <if test="list[0].originatorId!=null">
        ORIGINATOR_ID,
      </if>
      <if test="list[0].studentId!=null">
        STUDENT_ID,
      </if>
      <if test="list[0].originateTime!=null">
        ORIGINATE_TIME,
      </if>
      <if test="list[0].dealTime!=null">
        DEAL_TIME,
      </if>
      <if test="list[0].remark!=null">
        REMARK,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=DECIMAL},
        </if>
        <if test="item.orgId!=null">
          #{item.orgId,jdbcType=DECIMAL},
        </if>
        <if test="item.majorId!=null">
          #{item.majorId,jdbcType=DECIMAL},
        </if>
        <if test="item.instructorId!=null">
          #{item.instructorId,jdbcType=DECIMAL},
        </if>
        <if test="item.originatorId!=null">
          #{item.originatorId,jdbcType=DECIMAL},
        </if>
        <if test="item.studentId!=null">
          #{item.studentId,jdbcType=DECIMAL},
        </if>
        <if test="item.originateTime!=null">
          #{item.originateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.dealTime!=null">
          #{item.dealTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.remark!=null">
          #{item.remark,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>