<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.basedao.DormitoryInfoMapper">
  <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.basedao.model.DormitoryInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DORMITORY_ID" jdbcType="DECIMAL" property="dormitoryId" />
    <result column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId" />
    <result column="FLOOR_NUMBER" jdbcType="DECIMAL" property="floorNumber" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TOTAL_AMOUNT" jdbcType="DECIMAL" property="totalAmount" />
    <result column="USED_AMOUNT" jdbcType="DECIMAL" property="usedAmount" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate" />
  </resultMap>

</mapper>