<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.basedao.StudentInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.basedao.model.StudentInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="LEVEL_ID" jdbcType="DECIMAL" property="levelId"/>
        <result column="AT_SCHOOL" jdbcType="DECIMAL" property="atSchool"/>
        <result column="ENTRANCE_DATE" jdbcType="TIMESTAMP" property="entranceDate"/>
        <result column="GRADE_ID" jdbcType="DECIMAL" property="gradeId"/>
        <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="STATE" jdbcType="VARCHAR" property="STATE"/>
        <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate"/>
    </resultMap>

    <resultMap id="statStudentByGenderResultMap"
               type="com.yunhuakeji.attendance.dao.basedao.model.StatStudentByGender">
        <result column="GENDER" jdbcType="VARCHAR" property="genderType"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount"/>
    </resultMap>

    <resultMap id="BuildingStudentStatResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.BuildingStudentStatDO">
        <result column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="studentTotalCount"/>
    </resultMap>

    <resultMap id="StudentDormitoryBuildingResultMap"
               type="com.yunhuakeji.attendance.dao.basedao.model.StudentDormitoryBuildingDO">
        <result column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="studentId"/>
        <result column="DORMITORY_ID" jdbcType="DECIMAL" property="dormitoryId"/>
    </resultMap>



    <select id="statStudentByGender" resultMap="statStudentByGenderResultMap">
        select U.GENDER,count(1) from B_STUDENT_INFO SI left JOIN B_USER U on SI.USER_ID = U.USER_ID
        where SI.AT_SCHOOL = 1 and SI.STATE = '10A'
        GROUP BY U.GENDER
    </select>

    <select id="listStudentIdsByInstructorId">
    select USER_ID from B_STUDENT_INFO where STATE = '10A' and AT_SCHOOL = 1 and USER_ID in
    (
      select USER_ID from B_USER_CLASS where CLASS_ID in
      (
          select CLASS_ID from B_USER_CLASS where USER_ID = #{instructorId}
      )
    )
  </select>

    <select id="listStudentIdsOrderByBuilding" resultMap="StudentDormitoryBuildingResultMap">
        select BSI.USER_ID,BDI.DORMITORY_ID,BDI.BUILDING_ID from B_STUDENT_INFO BSI
        left join B_DORMITORY_USER BDU on BSI.USER_ID = BDU.USER_ID
        left join B_DORMITORY_INFO BDI on BDU.DORMITORY_ID = BDI.DORMITORY_ID
        left join B_BUILDING_INFO BBI on BBI.BUILDING_ID = BDI.BUILDING_ID
        order by BBI.BUILDING_ID,BDI.DORMITORY_ID asc
    </select>

    <select id="countClockStudentByClassIds" parameterType="java.util.List">

        select USER_ID from B_STUDENT_INFO

        where STATE = '10A' and AT_SCHOOL = 1

        and USER_ID in
        (
        select USER_ID from B_USER_CLASS where CLASS_ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )

    </select>

    <select id="listStudentIdsByInstructorIdAndNOC">
        select USER_ID from B_STUDENT_INFO BSI ,B_USER BU
        where BSI.STATE = '10A' and BSI.AT_SCHOOL = 1
        and BSI.USER_ID = BU.USER_ID
        <if test="nameOrCode!=null">
            and (BU.USER_NAME like #{nameOrCode} or BU.CODE like #{nameOrCode})
        </if>
        and BSI.USER_ID in
        (
        select USER_ID from B_USER_CLASS where CLASS_ID in
        (
        select CLASS_ID from B_USER_CLASS where USER_ID = #{instructorId}
        )
        )
    </select>


    <select id="countAllClockStudent" resultType="java.lang.Integer">
    select count(*) from B_STUDENT_INFO where STATE = '10A' and and AT_SCHOOL = 1
  </select>


    <select id="listClockStudentByBuildingIds" parameterType="java.util.List">
        select USER_ID from B_STUDENT_INFO where STATE = '10A' and AT_SCHOOL = 1 and USER_ID in
        (
        select DU.USER_ID from B_DORMITORY_USER DU
        left join B_DORMITORY_INFO DI on DU.DORMITORY_ID = DI.DORMITORY_ID and DI.BUILDING_ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listClockStudentByBuildingIdsAndNOC" parameterType="java.util.HashMap">
        select USER_ID from B_STUDENT_INFO BSI ,B_USER BU
        where BSI.STATE = '10A' and BSI.AT_SCHOOL = 1
        and BSI.USER_ID = BU.USER_ID
        <if test="nameOrCode!=null">
            and (BU.USER_NAME like #{nameOrCode} or BU.CODE like #{nameOrCode})
        </if>
        and BSI.USER_ID in
        (
        select DU.USER_ID from B_DORMITORY_USER DU
        left join B_DORMITORY_INFO DI on DU.DORMITORY_ID = DI.DORMITORY_ID and DI.BUILDING_ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listClockStudentByNOC">
        select USER_ID from B_STUDENT_INFO BSI ,B_USER BU
        where BSI.STATE = '10A' and BSI.AT_SCHOOL = 1
        and BSI.USER_ID = BU.USER_ID
        <if test="nameOrCode!=null">
            and (BU.USER_NAME like #{nameOrCode} or BU.CODE like #{nameOrCode})
        </if>
    </select>

    <select id="statBuildingStudent" resultMap="BuildingStudentStatResultMap">
        select BDI.BUILDING_ID,count(1) STAT_COUNT from B_STUDENT_INFO BSI ,B_DORMITORY_USER BDU,
        B_DORMITORY_INFO BDI
        where BSI.STATE = '10A'
        and BSI.AT_SCHOOL = 1
        and BSI.USER_ID = BDU.USER_ID
        and BDU.DORMITORY_ID = BDI.DORMITORY_ID
        and BDI.BUILDING_ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

</mapper>