<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.bizdao.StudentClockMapper">
    <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.bizdao.model.StudentClock">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="ORG_ID" jdbcType="DECIMAL" property="orgId"/>
        <result column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId"/>
        <result column="INSTRUCTOR_ID" jdbcType="DECIMAL" property="instructorId"/>
        <result column="CLOCK_TIME" jdbcType="TIMESTAMP" property="clockTime"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="GENDER" jdbcType="DECIMAL" property="gender"/>
        <result column="LAT" jdbcType="DECIMAL" property="lat"/>
        <result column="LON" jdbcType="DECIMAL" property="lon"/>
        <result column="CLOCK_DATE" jdbcType="DECIMAL" property="clockDate"/>
        <result column="CLOCK_STATUS" jdbcType="DECIMAL" property="clockStatus"/>
        <result column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId"/>
        <result column="MAJOR_ID" jdbcType="DECIMAL" property="majorId"/>
        <result column="CLASS_ID" jdbcType="DECIMAL" property="classId"/>
        <result column="OPERATOR_ID" jdbcType="DECIMAL" property="operatorId"/>
        <result column="APP_NAME" jdbcType="VARCHAR" property="appName"/>
        <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName"/>
    </resultMap>

    <resultMap id="statByStatusResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.ClockStatByStatusDO">
        <result column="CLOCK_STATUS" jdbcType="DECIMAL" property="clockStatus"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount"/>
    </resultMap>

    <resultMap id="BuildingClockStatResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.BuildingClockStatDO">
        <result column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="clockStatCount"/>
    </resultMap>

    <resultMap id="statByStatusGenderResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.ClockStatByStatusGenderDO">
        <result column="CLOCK_STATUS" jdbcType="DECIMAL" property="clockStatus"/>
        <result column="GENDER" jdbcType="DECIMAL" property="gender"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount"/>
    </resultMap>

    <resultMap id="StudentClockStatusCountStatResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.StudentClockStatusCountStatDO">
        <result column="USER_ID" jdbcType="DECIMAL" property="studentId"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount"/>
    </resultMap>

    <resultMap id="StudentClockStatusStatResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.StudentClockStatusDO">
        <result column="USER_ID" jdbcType="DECIMAL" property="studentId"/>
        <result column="CLOCK_STATUS" jdbcType="DECIMAL" property="clockStatus"/>
    </resultMap>

    <resultMap id="DateStatusCountStatResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.DateStatusCountStatDO">
        <result column="CLOCK_DATE" jdbcType="DECIMAL" property="statDate"/>
        <result column="CLOCK_STATUS" jdbcType="DECIMAL" property="clockStatus"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount"/>
    </resultMap>

    <resultMap id="StudentStatusCountResultMap"
               type="com.yunhuakeji.attendance.dao.bizdao.model.StudentStatusCountDO">
        <result column="USER_ID" jdbcType="DECIMAL" property="studentId"/>
        <result column="CLOCK_STATUS" jdbcType="DECIMAL" property="clockStatus"/>
        <result column="STAT_COUNT" jdbcType="DECIMAL" property="statCount"/>
    </resultMap>

    <select id="studentStatusCountStat" resultMap="StudentStatusCountResultMap" parameterType="java.util.HashMap">
        select SC.USER_ID,SC.CLOCK_STATUS,count(1) STAT_COUNT from STUDENT_CLOCK SC
        LEFT JOIN  B_USER BU on SC.USER_ID = BU.USER_ID
        where 1=1
        <if test="startClockDate!=null">
            <![CDATA[ and SC.CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and SC.CLOCK_TIME <= #{endClockDate}]]>
        </if>
        <if test="classIds!=null">
            and SC.CLASS_ID in
            <foreach collection="classIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="nameOrCode!=null">
            and (BU.USER_NAME like #{nameOrCode} or BU.CODE like #{nameOrCode})
        </if>
        group by SC.USER_ID,SC.CLOCK_STATUS
    </select>

    <select id="studentStatusCountStatByStudentIds" resultMap="StudentStatusCountResultMap" parameterType="java.util.HashMap">
        select SC.USER_ID,SC.CLOCK_STATUS,count(1) STAT_COUNT from STUDENT_CLOCK SC
        where 1=1
        <if test="startClockDate!=null">
            <![CDATA[ and SC.CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and SC.CLOCK_TIME <= #{endClockDate}]]>
        </if>
        <if test="studentIds!=null">
            and SC.USER_ID in
            <foreach collection="studentIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by SC.USER_ID,SC.CLOCK_STATUS
    </select>


    <select id="listNotClockStudentId"  resultType="java.lang.Long">
        select BSI.USER_ID from B_STUDENT_INFO BSI where BSI.STATE = '10A' and BSI.AT_SCHOOL = 1 and  not exists
        (select 1 from STUDENT_CLOCK SC where BSI.USER_ID=SC.USER_ID and CLOCK_DATE = #{clockDate})
    </select>


    <select id="dateStatusCountStat" resultMap="DateStatusCountStatResultMap" parameterType="java.util.HashMap">
        select CLOCK_DATE,CLOCK_STATUS,count(1) STAT_COUNT from STUDENT_CLOCK where 1=1
        <if test="orgId!=null">
            and ORG_ID = #{orgId}
        </if>
        <if test="startClockDate!=null">
            <![CDATA[ and CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and CLOCK_TIME <= #{endClockDate}]]>
        </if>
        group by CLOCK_DATE,CLOCK_STATUS
    </select>

    <select id="statStudentClockStatus" resultMap="StudentClockStatusStatResultMap" >
        select BU.USER_ID,SC.CLOCK_STATUS from B_USER BU left join
        STUDENT_CLOCK SC on BU.USER_ID = SC.USER_ID and SC.CLOCK_DATE = #{clockDate}
        where 1=1 and BU.USER_TYPE = 1
        <if test="clockStatus!=null">
            and SC.CLOCK_STATUS in
            <foreach collection="clockStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="nameOrCode!=null">
            and (BU.USER_NAME like #{nameOrCode} or BU.CODE like #{nameOrCode})
        </if>

        <if test="classIds!=null">
            and BU.USER_ID in (
                SELECT USER_ID FROM B_USER_CLASS WHERE CLASS_ID IN
            <foreach collection="classIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="userIds!=null">
            and BU.USER_ID in
            <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="listStudentClockStatusCountStat" resultMap="StudentClockStatusCountStatResultMap">
        select USER_ID,count(1) STAT_COUNT from STUDENT_CLOCK where 1=1
        <if test="studentIds!=null">
            and USER_ID in
            <foreach collection="studentIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="clockStatus!=null">
            and CLOCK_STATUS = #{clockStatus}
        </if>
        <if test="startClockDate!=null">
            <![CDATA[ and CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and CLOCK_TIME <= #{endClockDate}]]>
        </if>
        group by USER_ID
    </select>

    <!-- 根据宿舍楼统计，指定日期打卡人数。只统计已打卡-->
    <select id="statByBuilding" resultMap="BuildingClockStatResultMap">
       SELECT BUILDING_ID,count(1) STAT_COUNT from STUDENT_CLOCK where CLOCK_STATUS=2
        <if test="statDate!=null">
            and CLOCK_DATE = #{statDate}
        </if>
        GROUP  by BUILDING_ID
    </select>

    <select id="statByStatus" parameterType="java.util.HashMap" resultMap="statByStatusResultMap">
        select CLOCK_STATUS,count(1) STAT_COUNT from STUDENT_CLOCK where 1=1
        <if test="instructorId!=null">
            and INSTRUCTOR_ID = #{instructorId}
        </if>
        <if test="buildingIds!=null">
            and BUILDING_ID in
            <foreach collection="buildingIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="studentIds!=null">
            and USER_ID in
            <foreach collection="studentIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="clockDate!=null">
            and CLOCK_DATE = #{clockDate}
        </if>
        <if test="startClockDate!=null">
            <![CDATA[ and CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and CLOCK_TIME <= #{endClockDate}]]>
        </if>
        <if test="orgId!=null">
            and ORG_ID = #{orgId}
        </if>
        group by CLOCK_STATUS
    </select>

    <select id="statByStatusGender" parameterType="java.util.HashMap" resultMap="statByStatusGenderResultMap">
        select SC.CLOCK_STATUS,count(1) STAT_COUNT,U.GENDER  from STUDENT_CLOCK SC left JOIN B_USER U on SC.USER_ID = U.USER_ID
        where 1=1
        <if test="instructorId!=null">
            and INSTRUCTOR_ID = #{instructorId}
        </if>
        <if test="buildingIds!=null">
            and BUILDING_ID in
            <foreach collection="buildingIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="clockDate!=null">
            and CLOCK_DATE = #{clockDate}
        </if>
        <if test="startClockDate!=null">
            <![CDATA[ and CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and CLOCK_TIME <= #{endClockDate}]]>
        </if>
        group by CLOCK_STATUS,U.GENDER
    </select>


    <select id="getStudentIds" parameterType="java.util.HashMap">
        select USER_ID from STUDENT_CLOCK where 1=1
        <if test="instructorId!=null">
            and INSTRUCTOR_ID = #{instructorId}
        </if>
        <if test="buildingIds!=null">
            and BUILDING_ID in
            <foreach collection="buildingIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="clockDate!=null">
            and CLOCK_DATE = #{clockDate}
        </if>
        <if test="clockStatus!=null">
            and CLOCK_STATUS = #{clockStatus}
        </if>
        <if test="startClockDate!=null">
            <![CDATA[ and CLOCK_TIME >= #{startClockDate}]]>
        </if>
        <if test="endClockDate!=null">
            <![CDATA[ and CLOCK_TIME <= #{endClockDate}]]>
        </if>
    </select>

    <select id="listStudentIdsByIdsAndStatusAndDate" parameterType="java.util.HashMap" resultType="java.lang.Long">
        select USER_ID from STUDENT_CLOCK where 1=1
        <if test="studentIds!=null">
            and USER_ID in
            <foreach collection="studentIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="clockDate!=null">
            and CLOCK_DATE = #{clockDate}
        </if>
        <if test="clockStatus!=null">
            and CLOCK_STATUS = #{clockStatus}
        </if>
    </select>


    <insert id="insertBatchSelective" parameterType="java.util.List" useGeneratedKeys="false">
        insert into STUDENT_CLOCK
        <trim prefix="(" suffix=")" suffixOverrides=",">
                ID,
                USER_ID,
                ORG_ID,
                INSTRUCTOR_ID,
                CLOCK_TIME,
                CREATE_TIME,
                UPDATE_TIME,
                GENDER,
                LAT,
                LON,
                CLOCK_DATE,
                CLOCK_STATUS,
                DEVICE_ID,
                MAJOR_ID,
                CLASS_ID,
                BUILDING_ID,
                OPERATOR_NAME,
                APP_NAME,
                OPERATOR_ID
        </trim>

        <foreach collection="list" index="index" item="item" separator="union all" >
            select
            <trim suffixOverrides=",">
                    #{item.id,jdbcType=DECIMAL},
                    #{item.userId,jdbcType=DECIMAL},
                    #{item.orgId,jdbcType=DECIMAL},
                    #{item.instructorId,jdbcType=DECIMAL},
                    #{item.clockTime,jdbcType=TIMESTAMP},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.updateTime,jdbcType=TIMESTAMP},
                    #{item.gender,jdbcType=DECIMAL},
                    #{item.lat,jdbcType=DECIMAL},
                    #{item.lon,jdbcType=DECIMAL},
                    #{item.clockDate,jdbcType=DECIMAL},
                    #{item.clockStatus,jdbcType=DECIMAL},
                    #{item.deviceId,jdbcType=VARCHAR},
                    #{item.majorId,jdbcType=DECIMAL},
                    #{item.classId,jdbcType=DECIMAL},
                    #{item.buildingId,jdbcType=DECIMAL},
                    #{item.operatorName,jdbcType=VARCHAR},
                    #{item.appName,jdbcType=VARCHAR},
                    #{item.operatorId,jdbcType=DECIMAL},
            </trim>
            from dual
        </foreach>
    </insert>
</mapper>