<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.basedao.UniversityInfoMapper">
  <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.basedao.model.UniversityInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIVERSITY_ID" jdbcType="DECIMAL" property="universityId" />
    <result column="UNIVERSITY_CODE" jdbcType="VARCHAR" property="universityCode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate" />
  </resultMap>
</mapper>