<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.basedao.UserClassMapper">
  <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.basedao.model.UserClass">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <id column="CLASS_ID" jdbcType="DECIMAL" property="classId" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate" />
  </resultMap>

  <resultMap id="InstructorResultMap" type="com.yunhuakeji.attendance.dao.basedao.model.InstructorInfo">
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="CLASS_ID" jdbcType="DECIMAL" property="classId" />
  </resultMap>


  <select id="queryInstructorByNameAndCode" resultMap="InstructorResultMap">
    select DISTINCT UC.CLASS_ID,UC.USER_ID,BU.USER_NAME,BU.CODE from  B_USER_CLASS UC left JOIN  B_USER BU on UC.USER_ID = BU.USER_ID
    where 1=1
    <if test="name!=null">
       and BU.USER_NAME like '%'#{name}'%'
    </if>
    <if test="code!=null">
      and BU.CODE like '%'#{code}'%'
    </if>
  </select>
</mapper>