<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhuakeji.attendance.dao.basedao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yunhuakeji.attendance.dao.basedao.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="UNIVERSITY_ID" jdbcType="DECIMAL" property="universityId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
    <result column="JOIN_DATE" jdbcType="TIMESTAMP" property="joinDate" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="GENDER" jdbcType="DECIMAL" property="gender" />
    <result column="HEAD_PORTRAIT_PATH" jdbcType="VARCHAR" property="headPortraitPath" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate" />
  </resultMap>

</mapper>